// Variables
$website-width: 1280px;
$main-color: #a4a4c6;
$light-color: #fbf7f5;
$medium-color: #ccc;
$dark-color: #6d5166;
$bg-image: url("../img/showcase.jpg");

// Set Text Color
@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return #000;
  } @else {
    @return #fff;
  }
}
